@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    box-sizing: border-box;
    transition: all .3s ease;
    text-decoration: none;
}


:root {
    --dark-green: #9172EC;
    --green-color: #6d22a6;
    --white-color: #fff;
}

::selection {
    background: var(--green-color);
    color: var(--white-color);
}

html,
body {
    width: 100%;
    height: 100%;
}

html {
    font-size: 90%;
}

section {
    padding: 0 8rem;
    width: 100%;
}

.label {
    font-size: 1.1rem;
    color:  #666;
    text-transform: uppercase;
    font-weight: 500;
}

.heading {
    font-size: 3rem;
    margin-top: 1rem;
}

section.home {
    padding: 1rem;
    width: 100%;
    height: 100vh;
}

.home .home-box {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.1)), url("/assets/image/home-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: .5rem;
    border-radius: .5rem;
}

.home .home-box nav {
    width: 100%;
    height: 65px;
    background: linear-gradient(rgba(109, 29, 236, 0.2),rgba(149, 26, 225, 0.2));
    backdrop-filter: blur(1px);
    border-radius: .7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    z-index: 10;
    position: relative;
}

.home .home-box nav .logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.home .home-box nav .logo .bar {
    font-size: 1.35rem;
    color: var(--white-color);
    cursor: pointer;
    display: none;
}

.home .home-box nav .logo .bar:hover {
    color: var(--green-color);
}

.home .home-box nav .logo h3 {
    color: var(--white-color);
    font-weight: 400;
}

.home .home-box nav .menu .close {
    display: none;
}

.home .home-box nav .menu ul {
    display: flex;
    gap: 3rem;
    list-style: none;
}

.home .home-box nav .menu ul li a {
    color: var(--white-color);
    font-weight: 400;
}

.home .home-box nav .menu ul li a:hover {
    color: rgb(255 255 255/70%);
}

.home .home-box nav .signup-login {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.home .home-box nav .signup-login a {
    color: var(--white-color);
    padding: .3rem 1rem;
    border-radius: 2rem;
}

.home .home-box nav .signup-login a:last-child {
    background: var(--green-color);
    padding: .3rem 1rem;
    border-radius: 2rem;
}

.home .home-box nav .signup-login a:hover {
    color: rgb(255 255 255/70%);
}

.home .home-box nav .signup-login a:last-child:hover {
    color: var(--white-color);
    background: #51026e;
}


/* ---------------Banner------------------ */
.home .home-box .content {
    width: 100%;
    height: calc(100% - 65px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translate(0, -65px);
}
.home .home-box .content h5,
.home .home-box .content h1,
.home .home-box .content p {
    text-align: center;
}

.home .home-box .content h5{
    text-transform: uppercase;
    color: var(--white-color);
    font-size: .9rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.home .home-box .content h1 {
    font-size: 4rem;
    max-width: 50rem;
    color: var(--white-color);
    text-align: center;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.home .home-box .content p {
    color: #eee;
    font-weight: 300;
    max-width: 40rem;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 2rem;
}

.home .home-box .content .search {
    width: 100%;
    max-width: 38rem;
    height: 45px;
    background: var(--white-color);
    border-radius: 3rem;
    display: flex;
    align-items: center;
    padding: .3rem;
}

.home .home-box .content .search i {
    color: rgba(0,0,0,.5);
    margin: 0 .6rem;
}

.home .home-box .content .search input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-weight: 400;
}

.home .home-box .content .search button {
    height: 100%;
    padding: 0 1rem;
    border-radius: inherit;
    background: var(--green-color);
    border: none;
    outline: none;
    color: var(--white-color);
    font-weight: 400;
    cursor: pointer;
}

.home .home-box .content .search button:hover {
    background:#51026e;
}

.home .home-box .content h5, .home .home-box .content h1, .home .home-box .content p, .home .home-box .content .search {
    transform: translate(0, 100px);
    opacity: 0;
}
.home .home-box .content .inner-content {
    width: 100%; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
}



/*---------------How  it works ------------- */
#howItWorks {
    display: none; 
}
.modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.modal.fade .modal-dialog {
    transition: opacity 0.3s ease;
    opacity: 0;
}

.modal.fade.show .modal-dialog {
    opacity: 1;
}
/* --------------- why us -----------------*/

.whyus .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    padding:  5rem 0;
}

.whyus .container .box {
    padding: 0 1rem;
    text-align: center;
    max-width: 30rem;
    transform: translate(0, 100px);
    opacity: 0;
}

.whyus .container .box img {
    height: 10rem;
}

.whyus .container .box h4 {
    font-size: 1.2rem;
    margin: 1rem 0;
    margin-top: 2rem;
    font-weight: 600;
}

.whyus .container .box p {
    color: #666;
}

/*--------------Reservation ----------------*/

.btn.btn-purple {
    color: #ffffff; /* Couleur du texte */
    background-color: #800080; /* Couleur de fond */
    border-color: #800080; /* Couleur de la bordure */
}

.btn.btn-purple:hover {
    color: #ffffff;
    background-color: #6a007d;
    border-color: #6a007d;
}

/* Styling for SmartWizard steps */
#smartwizard ul.nav > li > a.selected {
    background-color: #800080 !important; /* Purple background for selected step */
    color: #ffffff !important; /* White text color */
    border-color: #800080 !important; /* Purple border color */
}

#smartwizard ul.nav > li > a.done {
    background-color: #6a007d !important; /* Dark purple background for completed step */
    color: #ffffff !important; /* White text color */
    border-color: #6a007d !important; /* Dark purple border color */
}

/* Ensure text color is white for active and completed steps */
#smartwizard ul.nav > li > a.selected,
#smartwizard ul.nav > li > a.done {
    color: #ffffff !important;
}

/* Update border color for active and completed steps */
#smartwizard ul.nav > li > a.selected,
#smartwizard ul.nav > li > a.done {
    border-color: #800080 !important; /* Purple border color */
}

/* Handle on hover */
#smartwizard ul.nav > li > a:hover {
    background-color: #6a007d !important; /* Dark purple background on hover */
    border-color: #6a007d !important; /* Dark purple border color on hover */
}
/* Couleur du texte des étapes */
#smartwizard ul li a {
    color: #ffffff;
}

/* Couleur de fond des étapes */
#smartwizard ul li > a {
    background-color: #800080; /* Modifier en #800080 */
}

/* Couleur de la bordure des étapes */
#smartwizard ul li > a > small:before,
#smartwizard ul li > a > small:after {
    border-color: #800080; /* Modifier en #800080 */
}


/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.form-control:focus {
    color: #495057;
    background-color: rgb(255, 255, 255);
    border-color: #6a007d;
    outline: 0;
    box-shadow: 0 0 0 0rem rgba(224, 15, 196, 0.603);
}

.btn-secondary:focus {
    box-shadow: 0 0 0 0rem rgba(108, 117, 125, .5);
}

.close:focus {
    box-shadow: 0 0 0 0rem rgba(228, 231, 235, 0.925);
}

.mt-400 {
    border-radius: 20px;
    margin-top: 50px;
    background-color: #6a007d;
}

/* Styling for SmartWizard steps */
#smartwizard ul.nav > li > a {
    background-color: #800080 !important; /* Purple background for all steps */
    color: #ffffff !important; /* White text color */
    border-color: #800080 !important; /* Purple border color */
}

/* Ensure text color is white for all steps */
#smartwizard ul.nav > li > a {
    color: #ffffff !important;
}

/* Update border color for all steps */
#smartwizard ul.nav > li > a {
    border-color: #800080 !important; /* Purple border color */
}

/* Styling for selected and completed steps */
#smartwizard ul.nav > li > a.selected,
#smartwizard ul.nav > li > a.done {
    background-color: #800080 !important; /* Purple background for selected and completed steps */
    border-color: #800080 !important; /* Purple border color for selected and completed steps */
}

/* Ensure text color is white for selected and completed steps */
#smartwizard ul.nav > li > a.selected,
#smartwizard ul.nav > li > a.done {
    color: #ffffff !important;
}

/* Update triangle color for selected and completed steps */
#smartwizard ul.nav > li > a.selected:before,
#smartwizard ul.nav > li > a.done:before {
    border-color: transparent transparent #800080 transparent !important; /* Purple triangle color */
}


/*---------------- location ------------------*/




.destinations {
    width: 100%;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.destinations .container {
    width: 100%;
}

.destinations .container .container-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.destinations .container .container-box .heading {
    max-width: 30rem;
}

.destinations .container .container-box .content {
    max-width: 35rem;
}

.destinations .container .container-box .content p {
    line-height: 1.7;
    color: #666;
    margin-bottom: 1rem;
}

.destinations .container .container-box .content a {
    color: var(--green-color);
    font-weight: 600;
}

.destinations .container .container-box .content a i {
    margin-left: .5rem;
}

.destinations .container .container-box .content a:hover i {
    margin-left: .1rem;
}

.gallery {
    margin-top: 4rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.gallery .box {
    height: 23rem;
    flex-grow: 1;
    overflow: hidden;
    border-radius: .8rem;
    position: relative;
}

.gallery .box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.gallery .box .text {
    position: absolute;
    bottom: 0;
    padding: 1.5rem 2rem;
    left: 0;
    z-index: 1;
}

.gallery .box .text h2 {
    font-size: 1.4rem;
    color: var(--white-color);
    font-weight: 500;
}

.destinations .container .container-box .heading,
.destinations .container .container-box .content {
    transform: translate(-200px);
    opacity: 0;
}

.destinations .gallery .box {
    transform: translate(0, 100px);
    opacity: 0;
}

/*---------------- feedback ------------------*/
.feedback {
    background: url("/assets/image/section-background3.jpg");
    background-position: center;
    background-size: cover;
    margin-top: 6rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.feedback .container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.feedback .container h4 {
    color: rgb(255 255 255/90%);
}

.feedback .container h2 {
    max-width: 40rem;
    color: var(--white-color);
    text-align: center;
}

.feedback .container p {
    color: #eee;
    font-size: 1.2rem;
    margin-top: 1rem;
    text-align: center;
}

.feedback .voices {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 3rem;
}

.feedback .voices .voice {
    flex: 1 0 320px;
    background: var(--white-color);
    padding: 2rem;
    border-radius: .7rem;
}

.feedback .voices .voice .profile {
    display: flex;
    align-items: center;
}

.feedback .voices .voice .profile img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 2rem;
}

.feedback .voices .voice .profile .detail {
    margin-left: 1rem;
}

.feedback .voices .voice .profile .detail li {
    list-style: none;
}

.feedback .voices .voice .profile .detail li:first-child {
    font-size: 1.1rem;
    color: #000;
    font-weight: 600;
}

.feedback .voices .voice p {
    margin-top: 1rem;
}

.feedback .container .label,
.feedback .container .heading,
.feedback .container .paragraph {
    transform: translate(0, 10px);
    opacity: 0;
}

.feedback .voices .voice {
    transform: translate(0, 100px);
    opacity: 0;
}













/*---------------footer -------------*/

footer {
    padding:  1rem;
    width: 100%;
}

footer .footer {
    background: var(--dark-green);
    border-radius: .7rem;
    padding: 6rem 7rem;
    padding-bottom: 1rem;
}

footer .footer .container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--green-color);
    gap: 2rem;
}

footer .footer .container .detail {
    max-width: 32rem;
}

footer .footer .container .detail h3 {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: var(--white-color);
}

footer .footer .container .detail p {
    line-height: 1.6;
    color: rgb(255 255 255/80%);
    margin-bottom: 1.5rem;
}

footer .footer .container .detail h5 {
    font-size: 1rem;
    font-weight: 400;
    color: var(--white-color);
}

footer .footer .container .detail a {
    color: rgb(255 255 255/80%);
    font-size: .9rem;
    border-bottom: 2px solid #51026e;
    padding: 1px 0;
    display: inline-block;
}

footer .footer .container .detail .social {
    display: flex;
    gap: .8rem;
    margin-top: 1rem;
}

footer .footer .container .detail .social a {
    border: none;
    font-size: 1.3rem;
    color: var(--white-color);
}

footer .footer .container h4 {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: .5rem;
    color: var(--white-color);
}

footer .footer .container li {
    list-style: none;
    margin-top: 1rem;
}

footer .footer .container a {
    color: rgb(255 255 255/80%);
}

footer .footer .container a:hover {
    color: var(--white-color);
}

footer .footer .container span {
    color: #000;
    background: #51026e;
    font-size: .9rem;
    padding: .1rem .5rem;
    border-radius: .3rem;
    font-weight: 500;
}

footer .footer .copyright {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    font-size: .9rem;
    color: rgb(255 255 255/80%);
    text-align: center;
}

footer .footer .copyright a {
    color: rgb(255 255 255/80%);
    margin-left: 1rem;
    text-align: center;
}



/* ----------- Responsivity ----------------*/


@media (max-width: 1020px) {
    html {
        font-size: 85%;
    }

    section {
        padding: 0 2rem;
    }

    footer .footer {
        padding: 2rem;
    }
}

@media (max-width: 910px) {

    .home .home-box nav {
        padding: 0 1rem;
    }

    .home .home-box nav .menu ul {
        gap: 2rem;
    }

    .destinations .container .container-box {
        flex-direction: column;
        align-items: flex-start;
    }

    footer .footer .container {
        flex-direction: column;
    }
}

@media (max-width: 767px) {

    .heading {
        font-size: 2rem;
    }
    .home .home-box nav .menu {
        display: none;
    }

    .home .home-box nav .logo .bar {
        display: block;
    }

    .home .home-box nav .menu.active {
        display: block;
        position: absolute;
        left: -1.5rem;
        top: -1.5rem;
        width: 100vw;
        height: 100vh;
        background: rgb(0 0 0/90%);
        display: flex;
        align-items: center;
        padding: 0 3rem;
    }

    .home .home-box nav .menu .close {
        display: block;
        position: absolute;
        left: 3rem;
        top: 3rem;
        cursor: pointer;
        color: var(--white-color);
        font-size: 2rem;
    }

    .home .home-box nav .menu .close:hover {
        color: rgb(255 255 255/40%);
    }

    .home .home-box nav .menu ul {
        flex-direction: column;
        font-size: 1.3rem;
        gap: 1rem;
    }

    .home .home-box nav .menu ul:hover li a {
        color: rgb(255 255 255/40%);
    }

    .home .home-box nav .menu ul li a:hover {
        color: var(--white-color);
    }

    .home .home-box .content {
        padding: 2rem;
    }

    .travel .container {
        flex-direction: column;
        padding: 4rem 0;
        gap: 4rem;
    }

    .travel .container .box img {
        height: 6rem;
    }

    .destinations .container .container-box .content {
        font-size: .8rem;
    }

    .feedback .container p {
        font-size: .9rem;
    }
}

@media (max-width: 607px) {
    .home .home-box .content h1 {
        font-size: 2rem;
    }

    .home .home-box .content p {
        font-size: .8rem;
    }
}