@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    box-sizing: border-box;
    transition: all .3s ease;
    text-decoration: none;
}


:root {
    --dark-green: #9172EC;
    --green-color: #6d22a6;
    --white-color: #fff;
}

::selection {
    background: var(--green-color);
    color: var(--white-color);
}

html,
body {
    width: 100%;
    height: 100%;
}

html {
    font-size: 90%;
}

section {
    padding: 0 8rem;
    width: 100%;
}

.label {
    font-size: 1.1rem;
    color:  #666;
    text-transform: uppercase;
    font-weight: 500;
}

.heading {
    font-size: 3rem;
    margin-top: 1rem;
}

section.home {
    padding: 1rem;
    width: 100%;
    height: 100vh;
}

.home .home-box {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.1)), url("/assets/image/home-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: .5rem;
    border-radius: .5rem;
}

.home .home-box nav {
    width: 100%;
    height: 65px;
    background: linear-gradient(rgb(255,255,255,.2),rgb(255,255,255,.2));
    backdrop-filter: blur(1px);
    border-radius: .7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    z-index: 10;
    position: relative;
}

.home .home-box nav .logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.home .home-box nav .logo .bar {
    font-size: 1.35rem;
    color: var(--white-color);
    cursor: pointer;
    display: none;
}

.home .home-box nav .logo .bar:hover {
    color: var(--green-color);
}

.home .home-box nav .logo h3 {
    color: var(--white-color);
    font-weight: 400;
}

.home .home-box nav .menu .close {
    display: none;
}

.home .home-box nav .menu ul {
    display: flex;
    gap: 3rem;
    list-style: none;
}

.home .home-box nav .menu ul li a {
    color: var(--white-color);
    font-weight: 400;
}

.home .home-box nav .menu ul li a:hover {
    color: rgb(255 255 255/70%);
}

.home .home-box nav .signup-login {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.home .home-box nav .signup-login a {
    color: var(--white-color);
    padding: .3rem 1rem;
    border-radius: 2rem;
}

.home .home-box nav .signup-login a:last-child {
    background: var(--green-color);
    padding: .3rem 1rem;
    border-radius: 2rem;
}

.home .home-box nav .signup-login a:hover {
    color: rgb(255 255 255/70%);
}

.home .home-box nav .signup-login a:last-child:hover {
    color: var(--white-color);
    background: #51026e;
}


/* ---------------Banner------------------ */
.home .home-box .content {
    width: 100%;
    height: calc(100% - 65px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translate(0, -65px);
}
.home .home-box .content h5,
.home .home-box .content h1,
.home .home-box .content p {
    text-align: center;
}

.home .home-box .content h5{
    text-transform: uppercase;
    color: var(--white-color);
    font-size: .9rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.home .home-box .content h1 {
    font-size: 4rem;
    max-width: 50rem;
    color: var(--white-color);
    text-align: center;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.home .home-box .content p {
    color: #eee;
    font-weight: 300;
    max-width: 40rem;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 2rem;
}

.home .home-box .content .search {
    width: 100%;
    max-width: 38rem;
    height: 45px;
    background: var(--white-color);
    border-radius: 3rem;
    display: flex;
    align-items: center;
    padding: .3rem;
}

.home .home-box .content .search i {
    color: rgba(0,0,0,.5);
    margin: 0 .6rem;
}

.home .home-box .content .search input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-weight: 400;
}

.home .home-box .content .search button {
    height: 100%;
    padding: 0 1rem;
    border-radius: inherit;
    background: var(--green-color);
    border: none;
    outline: none;
    color: var(--white-color);
    font-weight: 400;
    cursor: pointer;
}

.home .home-box .content .search button:hover {
    background:#51026e;
}

.home .home-box .content h5, .home .home-box .content h1, .home .home-box .content p, .home .home-box .content .search {
    transform: translate(0, 100px);
    opacity: 0;
}
.home .home-box .content .inner-content {
    width: 100%; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
}
/* --------------- why us -----------------*/

.whyus .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    padding:  5rem 0;
}

.whyus .container .box {
    padding: 0 1rem;
    text-align: center;
    max-width: 30rem;
    transform: translate(0, 100px);
    opacity: 0;
}

.whyus .container .box img {
    height: 10rem;
}

.whyus .container .box h4 {
    font-size: 1.2rem;
    margin: 1rem 0;
    margin-top: 2rem;
    font-weight: 600;
}

.whyus .container .box p {
    color: #666;
}



/*---------------- feedback ------------------*/
.feedback {
    background: url("/assets/image/section-background3.jpg");
    background-position: center;
    background-size: cover;
    margin-top: 6rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.feedback .container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.feedback .container h4 {
    color: rgb(255 255 255/90%);
}

.feedback .container h2 {
    max-width: 40rem;
    color: var(--white-color);
    text-align: center;
}

.feedback .container p {
    color: #eee;
    font-size: 1.2rem;
    margin-top: 1rem;
    text-align: center;
}

.feedback .voices {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 3rem;
}

.feedback .voices .voice {
    flex: 1 0 320px;
    background: var(--white-color);
    padding: 2rem;
    border-radius: .7rem;
}

.feedback .voices .voice .profile {
    display: flex;
    align-items: center;
}

.feedback .voices .voice .profile img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 2rem;
}

.feedback .voices .voice .profile .detail {
    margin-left: 1rem;
}

.feedback .voices .voice .profile .detail li {
    list-style: none;
}

.feedback .voices .voice .profile .detail li:first-child {
    font-size: 1.1rem;
    color: #000;
    font-weight: 600;
}

.feedback .voices .voice p {
    margin-top: 1rem;
}

.feedback .container .label,
.feedback .container .heading,
.feedback .container .paragraph {
    transform: translate(0, 10px);
    opacity: 0;
}

.feedback .voices .voice {
    transform: translate(0, 100px);
    opacity: 0;
}